/*@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/manrope/Manrope-Bold.ttf) format("woff2");
}*/

:root {
  --dark-purple: #24053e;
  --eucalyptus-green: #44ffa1;
  --davy-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #fff;
  --bg-decoration-size: 1970px;
}
@media (min-width: 768px) {
  :root {
    --bg-decoration-size: 4120px;
  }
}
@media (min-width: 1440px) {
  :root {
    --bg-decoration-size: 4630px;
  }
}
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.upper-container::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: var(--dark-purple);
    --offset: 91px;
    bottom: var(--offset);
    width: var(--bg-decoration-size);
    height: var(--bg-decoration-size);
  }

.upper-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px 0;
    color: var(--white);
  }

  @media (min-width: 768px) {
    .upper-container {
      padding: 32px 40px 0 39px;
    }
  }
  @media (min-width: 1440px) {
    .upper-container {
      padding: 56px 166px 0 165px;
    }
  }

  @media (min-width: 768px) {
    .hupper-container::before {
      --offset: 148px;
    }
  }
  @media (min-width: 1440px) {
    .upper-container::before {
      --offset: 165px;
    }
  }


.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #24053E ;
    padding-top: 50px;
    padding-left: 160px;
    padding-right: 160px;
}

.apply-btn {
    color: var(--White, #FFF);
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    background-color: transparent;
    border: none ;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #44FFA1;
}

.apply-btn:hover {
    color: #44FFA1;
    background: transparent;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
  }



.header {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Fraunces" 144pt;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    margin-top: 0px;
    padding-top: 50px;
}

.tailored-underline {
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #44FFA1;
}

.learn-btn {
    width: 161px;
    height: 61px;
    flex-shrink: 0;
    background: var(--Eucaplyptus, #44FFA1);
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    border: none ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.learn-btn:hover {
    color: #44FFA1;
    background: transparent;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border: #44FFA1 2px solid ;
  }

.circles {
    display: flex;
    justify-content: space-between;
}

.upper-left-circles {
    margin-top: -380px;
    margin-left: -100px;
}

.upper-right-circles {
    margin-top: -100px;
    max-height: 141px;
    margin-left: 1000px;
}

.upper-phone {
    width: 802px;
    height: 505px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}

.header__emphasis {
    position: relative;
    display: inline-block;
  }
  .header__emphasis::after {
    content: "";
    display: block;
    position: relative;
    left: 0;
    right: 0;
    border-bottom: 3px solid #44FFA1;
  }

  .middle {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -770px;
    padding: 234px 0 71px;
    height: 1000px;
    }

  .middle::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: var(--ghost-white);
    --offset: 91px;
    bottom: 0;
    width: var(--bg-decoration-size);
    height: var(--bg-decoration-size);
    }

  .middle-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1062px;
    padding-top: 400px;
    grid-gap: 70px;
    justify-content: center;
    }

  .insight-numbers {
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-family: Fraunces 144pt !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid var(--Davys-Grey, #584D62);
    margin-left: 125px;
    margin-top: 50px;
    }

  .insight-header {
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-family: "Fraunces" 144pt;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-top: 50px;
  }

  .insight-text {
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
